/* Estilo base */
header {
    background-color: red;
    color: white;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
    border-radius: 10px;
    border: 2px solid black;
}

img {
    width: 80px;
    max-width: 100%;
    height: auto;
}

div {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

iframe {
    box-shadow: black 5px 5px 10px;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 90vw;
    height: 50vw;
    max-width: 560px;
    max-height: 315px;
    border: none;
}

footer {
    display: flex;
    justify-content: center;
    color: #eeeded;
    margin-top: 50px;
    background-color: #c72626;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    flex-wrap: wrap;
    border-radius: 10px;
}

hr {
    border: 5px solid rgb(255, 0, 0);
    width: 100%;
    margin: 50px 0;
    box-shadow: rgb(79, 15, 15) 5px 5px 10px;
}

h1, h2, h3 {
    font-family: 'Chewy', cursive;
}
body, p, li {
    font-family: 'Raleway', sans-serif;
}







/* Responsividade para telas menores */
@media (max-width: 600px) {
    header {
        display: flex;
        flex-direction: row;
    }

    header h1{
        font-size: 3.5vw;
    }

    header img{
        width: 5%;
        margin-left: 1%;
        margin-right: 1%;
    }


    iframe {
        width: 95vw;
        height: 55vw;
    }

    footer {
        font-size: 16px;
    }

    img {
        width: 60px;
    }
}
