header {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: red;
    width: 100%;

}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
header h1 {
    color: white;
}
header h2 {
    color: rgb(0, 246, 246);
}
body p {
    font-size: 20px;
}
#deckbox3 {
    display: flex;
    flex-direction: row;
}
hr {
   border: 5px solid black;
   width: 100%;
}
#meus_pokemon{
display: flex;
flex-direction: row;
}
#meus_pokemon2{
width: 11%;
height: 5%;
}
#meus_pokemon3{
width: 25%;
height: 15%;
}
#meus_pokemon4{
width: 28%;
height: 15%;  
}
#meus_pokemon5{
display: flex;
flex-direction: row;
}
#meus_pokemon6{
width: 11%;
height: 5%;
}
#meus_pokemon7{
width: 25%;
height: 15%;
}
#meus_pokemon8{
    width: 28%;
    height: 18%;
}
header img{
    padding-left: 40%;
    width: 50%;
}
/* Reset básico */

* {

margin: 0;

padding: 0;

box-sizing: border-box;

}

body {

font-family: Arial, sans-serif;

}

.navbar {

display: flex;

justify-content: space-between;

align-items: center;

background-color: #ff0000;

color: white;

padding: 1rem 2rem;

}

.logo {

font-size: 1.5rem;

font-weight: bold;

}

.nav-links {

display: flex;

list-style: none;

}

.nav-links li {

margin-left: 1.5rem;

}

.nav-links a {

color: white;

text-decoration: none;

transition: color 0.3s;

}

.nav-links a:hover {

color: #fffb02;

}

.content {

padding: 2rem;

}