body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

p {
   font-size: 30px;
   width: 80%; 
   text-align: justify;
}

img {
   width: 50%;
   size: 50%;
}

footer{
   background-color: rgb(255, 0, 0);
   font-size: 40px;
   width: 100%;
   text-align: center;
}
@media (max-width: 768px) {

 h1 {
    font-size: 40px;
 }

 img {
   width: 80%; 
}

 h2 {
    font-size: 24px;
 }

 p {
    font-size: 24px;
        width: 90%;
 }
 footer {
   font-size: 30px;
  padding: 3%;

}
}

